<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    

    {% block content %}
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete the scholarship "{{ scholarship_to_delete.Name }}"?</p>
    <form method="post" action="{% url 'confirm_delete' %}">
        {% csrf_token %}
        <input type="hidden" name="scholarship_id" value="{{ scholarship_to_delete.id }}">
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'edit_page' %}">Cancel</a>
    {% endblock %}
</body>
</html>
